<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<%- include('header'); %>
    <h1><%= title %></h1>
    <p><%= title %>, it's me and i'm studying in georgian college</p>
  </body>
</html>
